<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
</head>
<style>
    th,
    td,
    table {
        border: 1px solid black;
    }
</style>

<body>
    <div>
        <form action="/user/add">
        <button>
            Add a new User
        </button>
    </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            <% for(user of users) { %>
                <tr>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.username %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <form action="/user/<%= user.id %>/edit">
                            <button>Edit</button>
                        </form>
                    </td>
                    <td>
                        <form action="/user/<%= user.id %>/delete">
                            <button>Delete</button>
                        </form>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
</body>

</html>