<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Chats</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div>
        <h3>
            All Chats
        </h3>
        <form method="get" action="/chats/new">
            <div>
                <button>New Chat</button>
            </div>
        </form>
        <div>
            <% for (let chat of chats) { %>
                <div class="chats">
                    <p class="from"> From:
                        <%= chat.from %>
                    </p>
                    <div class="messageDiv">
                        <p class="message">
                            <%= chat.message %>
                        </p>
                        <form method="get" action="/chats/<%= chat._id %>/edit">
                            <button>Edit</button>
                        </form>
                        <form method="post" action="/chats/<%= chat._id %>?_method=DELETE">
                            <button>Delete</button>
                        </form>
                    </div>
                    <p class="to"> Received:
                        <%= chat.to %>
                    </p>
                    <hr>
                    <div>
                        <p>
                            <%= chat.created_at.toString().split(" ")[4] %>
                        </p>
                    </div>
                    <p><%= chat.created_at.toString().split(" ").slice(0, 4).join(" ") %></p>
                </div>
                <% } %>
        </div>
    </div>
</body>

</html>