<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Quora Posts</h1>
    <div>
        <button><a href="/posts/new">Create a new post</a></button>
    </div>
    <% for( let post of postData ) { %>
        <div class="card">
            <div class="name">@<%- post.username %></div>
            <div class="post"><%- post.post %></div>
            <div>
                <button><a href="/posts/<%-post.id%>">View more</a></button>
                <button><a href="/posts/<%-post.id%>/edit">Edit</a></button>
                <form method="post" action="/posts/<%-post.id%>?_method=DELETE">
                    <button>Delete</button>
                </form>
            </div>
        </div>
        <% } %>
</body>

</html>